<!-- Navigation
    ==========================================-->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand page-scroll" href="#page-top">
            <i class="fa  fa-cubes"></i> Ing. Andrés Calderón</a> </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#page-top" class="page-scroll">Hogar</a></li>
            <li><a href="#about" class="page-scroll">CONOCE MAS</a></li>
            <li><a href="#portfolio" class="page-scroll">Portfolio</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse --> 
      </div>
      <!-- /.container-fluid --> 
    </nav>

    <!-- Header -->
<header id="header">


  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="intro-text">
          <h1>Ing. Andrés Calderón</h1>
          <p>Front-end • Back-end • DBA</p>
          <a href="#about" class="btn btn-custom btn-lg page-scroll">CONOCE MAS</a> </div>
      </div>
    </div>
  </div>
</header>