<!-- About Section -->
<div id="about">
    <div class="container">
      <div class="section-title text-center center">
        <h2>Sobre mí</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6"> <img src="assets/img/think.png" class="img-responsive" alt=""> </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <p>            ¡Hola! Soy Andrés un desarrollador, un entusiasta de Node, ligeramente obsesionado por la calidad del código. Actualmente estoy disponible para trabajos independientes, si tiene un proyecto que desea comenzar y crees que necesita una guía profesional para la implementación de tu proyecto, ponte en contacto.</p>
            <h5>Front-end</h5>
            <p>Como desarrollador de JavaScript, tengo experiencia en técnicas HTML5 y CSS3 trabajando con jQuery o marcos MVC javascript más avanzados como angular.</p>
            <h5>Back-end</h5>
            <p>Utilizando frameworks de node como Express o creando código a medida, he escrito servicios que admiten miles de usuarios, incluidas API REST, aplicaciones de aprendizaje electrónico y más.</p>
            <h5>DBA</h5>
            <p>También tengo experiencia en bases de datos relacionales como sql y no relacionales como mongodb, he realizado pruebas de estrés para encontrar mejoras en el rendimiento de las consultas.</p>
            <a href="#portfolio" class="btn btn-default btn-lg page-scroll">My Portfolio</a> </div>
        </div>
      </div>
    </div>
  </div>